*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
    line-height:1.6;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111827;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#3b82f6;
}

.logo i{
    margin-right:8px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:.3s;
}

.menu a:hover{
    color:#3b82f6;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:0 auto 30px;
    font-size:20px;
}
.btn{
    display:inline-block;
    background:#3b82f6;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    border-radius:10px;
    font-weight:bold;
    margin-top:20px;
}

.btn:hover{
    background:#2563eb;
}
.stats{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:50px 20px;
}

.stat{
    width:180px;
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    text-align:center;
}

.stat h2{
    color:#3b82f6;
    font-size:38px;
    margin-bottom:10px;
}}

footer{
    text-align:center;
    padding:30px;
    background:#111827;
    margin-top:60px;
}
.featured{
    padding:60px 20px;
    text-align:center;
}

.tools-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    margin-top:30px;
}

.tool-card{
    background:#1e293b;
    border-radius:15px;
    padding:25px;
    width:300px;
}

.tool-card i{
    font-size:40px;
    color:#3b82f6;
    margin-bottom:15px;
}

.tool-card h3{
    margin-bottom:10px;
}

.tool-card p{
    margin-bottom:20px;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color:#3b82f6;
    font-size:28px;
    font-weight:bold;
}

.logo img{
    width:45px;
    height:45px;
    border-radius:50%;
}.categories{
    text-align:center;
    padding:50px 20px;
}

.category-buttons{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-top:20px;
}

.category-btn{
    background:#3b82f6;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:25px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.category-btn:hover{
    background:#2563eb;
}
.categories{
    text-align:center;
    padding:40px 20px;
}

.category-buttons{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:12px;
    margin-top:20px;
}

.category-btn{
    background:#3b82f6;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:25px;
    cursor:pointer;
    font-size:16px;
}

.category-btn:hover{
    background:#2563eb;
}
